body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.grid-container {
    display: grid;
    height: 100vw;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    background-color: yellow;
}

.task-menu {
    grid-row: 1 / span 2;
    background-color: aquamarine;
    padding: 20px;
}

.new-task {
    grid-row: 1 / span 1;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.new-task h1 {
    padding: 20px 0;
    margin: 0;
}

.app-list {
    grid-row: 2 / span 1;
    background-color: blueviolet;
    padding: 20px;
}

.app-list ul {
    padding: 0;
    margin: 0;
}

.app-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.task-list {
    display: flex;
    align-items: center;
}

.list-item {
    text-decoration: none;
    padding-right: 20px;
}

.list-item-disabled {
    text-decoration: line-through;
    padding-right: 20px;
}

.delete-icon {
    cursor: pointer;
}

.new-task-container {
    display: flex;
    align-items: center;
}

.new-task-field {
    width: 400px;
}

.new-task-button {
    left: 20px;
}

.completed-item-container {
    display: flex;
    align-items: flex-end;
}

.completed-item {
    list-style-type: none;
    padding-left: 15px;
}